#myCanvas{
    background-color:white;
    position: relative;
    border: 3px solid #7700ff;
    border-radius: 5px;
    cursor: url(photo/brush_icon.png) 0 11, auto;
}
#download{
    position: fixed;
    width: 111px;
    height: 50px;
    /*color: white;*/
    top: 180px;
    right: 20px;
}
#title{
    position: absolute;
    top: 65px;
    right: 0px;
    
}

#upload{
    display: none;
}
.btn-upload{
    position: fixed;
    width: 111px;
    color: white;
    border: 1px solid #100de9;
    border-radius: 4px;
    top: 130px;
    right: 20px;
}

.btn-text{
    position: fixed;
    width: 111px;
    color: white;
    border: 1px solid #100de9;
    border-radius: 4px;
    top: 238px;
    right: 20px;
}

.btn-brush{
    position: fixed;
    width: 111px;
    color: white;
    border: 1px solid #100de9;
    border-radius: 4px;
    top: 30px;
    right: 20px;
}

.penSize{
    background-color:rgb(191, 230, 21);
    color:violet;
    position: relative;
    left: 20px;
}

.penColor{
    position: relative;
    left: 120px;
}

.eraser{
    position: fixed;
    color: white;
    border: 1px solid #100de9;
    border-radius: 4px;
    top: 80px;
    right: 20px;
}
/*
.reset{
    background-color: rgb(177, 189, 13);
    width: 30px;
    height: 50px;

}
*/
.slidecontainer{
    width: 50%;
    /*height: 5px;/**/
}

.slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 25px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: #db8c24; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 25px;
    height: 15px;
    border-radius: 50%;
    background: #9224db;
    cursor: pointer;
}
  
.slider::-moz-range-thumb{
    width: 25px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.shapes{
    position: relative;
    /*left: 325px;*/
    background-color: white;

}